* {
  box-sizing: border-box;
  padding: 0; }

.clearfix {
  clear: both;
  padding: 2%; }

img {
  max-width: 100%;
  margin: 0 auto; }

body {
  color: #5c5c5c;
  font-family: 'Bitter', serif;
  line-height: 190%;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; }

h3 {
  font-size: 190%;
  padding-bottom: 5% 0; }

h4 {
  font-size: 170%;
  padding: 5% 0; }

header {
  background-color: #eaeaea;
  height: 84px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  box-shadow: 2px 1px 30px 0px rgba(255, 74, 50, 0.26); }

#logo h3 {
  text-decoration: none;
  color: #5c5c5c;
  float: left;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 120%;
  text-align: justify;
  line-height: 16px;
  margin-top: 24px;
  padding: 3px; }

.design {
  color: crimson; }

#header-main {
  max-width: 1400px;
  margin: 0 auto; }

nav {
  float: right;
  padding: 20px 20px 0 0; }

#menu-icons {
  display: none;
  margin-top: 10px; }

#menu-icons i {
  font-size: 30px;
  color: #ffffff;
  margin-top: -15px;
  margin-left: 60px; }

ul {
  list-style: none;
  line-height: 0%; }

nav ul li {
  font-family: sans-serif;
  display: inline-block;
  padding: 10px;
  float: left;
  font-size: 110%;
  position: relative; }

nav ul li a {
  text-decoration: none;
  color: #5c5c5c;
  font-size: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer; }

nav ul li:nth-child(1):hover {
  font-weight: bold; }
  nav ul li:nth-child(1):hover:after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 8px;
    top: 20px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@-webkit-keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

nav ul li:nth-child(2):hover {
  font-weight: bold; }
  nav ul li:nth-child(2):hover:after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 8px;
    top: 20px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

nav ul li:nth-child(3):hover {
  font-weight: bold; }
  nav ul li:nth-child(3):hover:after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 8px;
    top: 20px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

nav ul li:nth-child(4):hover {
  font-weight: bold; }
  nav ul li:nth-child(4):hover:after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 8px;
    top: 20px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

nav ul li:nth-child(5):hover {
  font-weight: bold; }
  nav ul li:nth-child(5):hover:after {
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 8px;
    top: 20px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

@keyframes lineAnim {
  0% {
    width: 0px;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

h5 {
  font-size: 150%; }

p {
  font-family: 'Droid Sans', sans-serif;
  text-align: justify;
  font-size: 125%;
  letter-spacing: inherit;
  padding: 2%; }

article {
  padding: 4%;
  float: left;
  width: 50%;
  opacity: 0;
  margin-top: 5px; }

@-webkit-keyframes circleMove {
  0% {
    -webkit-transform: translate3d(-500px, 0px, 0px);
    transform: translate3d(-500px, 0px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    opacity: 1; } }

@keyframes circleMove {
  0% {
    -webkit-transform: translate3d(-500px, 0px, 0px);
    transform: translate3d(-500px, 0px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    opacity: 1; } }

.article-animate {
  -webkit-animation-name: circleMove;
  animation-name: circleMove;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

aside {
  opacity: 0;
  float: right;
  width: 35%;
  padding: 3%;
  text-align: center;
  margin-right: 100px;
  position: relative;
  border: 1px solid #5c5c5c;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

aside:hover {
  border: 1px solid transparent;
  transition: 1000ms ease-in; }

aside::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent; }

aside:hover::before {
  -webkit-animation-name: animateBorder;
  animation-name: animateBorder;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes animateBorder {
  0% {
    width: 0;
    height: 0;
    border-top-color: #0098ff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #0098ff;
    border-right-color: #0098ff;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #0098ff;
    border-right-color: #0098ff;
    border-left-color: transparent;
    border-bottom-color: transparent; } }

@keyframes animateBorder {
  0% {
    width: 0;
    height: 0;
    border-top-color: #0098ff;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  50% {
    width: 100%;
    height: 0;
    border-top-color: #0098ff;
    border-right-color: #0098ff;
    border-left-color: transparent;
    border-bottom-color: transparent; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: #0098ff;
    border-right-color: #0098ff;
    border-left-color: transparent;
    border-bottom-color: transparent; } }

aside::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 3px solid transparent; }

aside:hover::after {
  -webkit-animation-name: animateBorder2;
  animation-name: animateBorder2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes animateBorder2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #262626; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }

@keyframes animateBorder2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #262626; }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #262626;
    border-bottom-color: #262626; } }

.aside-animate {
  -webkit-animation-name: asideMove;
  animation-name: asideMove;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes asideMove {
  0% {
    -webkit-transform: translate3d(500px, 0px, 0px);
    transform: translate3d(500px, 0px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    opacity: 1; } }

@keyframes asideMove {
  0% {
    -webkit-transform: translate3d(500px, 0px, 0px);
    transform: translate3d(500px, 0px, 0px);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    opacity: 1; } }

.image-circle {
  border-radius: 6px;
  box-shadow: 10px 10px 49px 0px #8f8f8f; }

#in-wrapper {
  max-width: 1200px;
  margin: 0 auto; }
  #in-wrapper .one-of-third {
    opacity: 0; }

.one-of-third {
  width: 29%;
  float: left;
  margin: 2%; }

.one-of-third i {
  color: #e6e6e6;
  font-size: 80px; }

.one-of-third img {
  height: 340px;
  width: 100%; }

h5 a:hover {
  text-decoration: none;
  color: #405580; }

.circle {
  width: 150px;
  height: 150px;
  background-color: cornflowerblue;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 8px 8px 40px 0px; }

.one-third-img {
  padding-bottom: 2%; }

footer {
  background-color: #eaeaea;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0; }

#footer {
  max-width: 1400px;
  margin: 0 auto; }

footer h3 {
  color: #5c5c5c; }

footer p {
  color: #5c5c5c;
  text-align: center; }

footer .one-of-third {
  width: 33%;
  margin: 2% 0; }

footer a {
  color: #5c5c5c; }

.social-media li {
  display: inline; }

.facebook {
  transition: color .5s linear; }
  .facebook:hover {
    color: #3B5998; }

.twitter {
  transition: color .5s linear; }
  .twitter:hover {
    color: #00aced; }

.google {
  transition: color .5s linear; }
  .google:hover {
    color: #d34836; }

.youtube {
  transition: color .5s linear;
  display: block; }
  .youtube:hover {
    color: #e52d27; }

.social-media i {
  font-size: 355%;
  padding: 2% 6%;
  padding-bottom: 60px;
  color: #ffffff; }

.current {
  text-decoration: underline; }

.slider {
  position: relative; }

.bx-controls {
  display: none; }

.first-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer {
  background-color: red; }

#footer-third {
  max-height: 3000px;
  min-height: 300px;
  border-right: 1px solid #959595; }

@media screen and (max-width: 840px) {
  h1 {
    font-size: 100%; }
  .rslides img {
    display: block;
    height: 600px !important;
    float: left;
    width: 100%;
    border: 0; }
  h1 {
    font-size: 70%; }
  header {
    position: absolute;
    background-color: #eaeaea; }
  #menu-icons {
    display: inline-block; }
  nav ul,
  nav:active ul {
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    position: absolute;
    background-color: #eaeaea;
    width: 100%;
    padding: 20px;
    right: 0;
    top: 60px;
    border-radius: 4px 0 4px 4px; }
  nav li {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px; }
  .one-of-third {
    width: 100%;
    text-align: center;
    margin: 0; }
  .one-of-third img {
    height: auto;
    width: 100%; }
  .circle {
    width: 100px;
    height: 100px; }
  .one-of-third i {
    font-size: 360%; }
  article {
    width: 100%;
    padding: 0;
    margin: 0; }
  aside {
    width: 100%;
    margin-right: 0; }
  h4 {
    font-size: 140%; }
  footer .one-of-third {
    width: 100%;
    margin: 0; } }

@media screen and (max-width: 478px) {
  h3 {
    font-size: 150%; }
  p {
    font-size: 100%;
    margin: 2%; }
  h1 {
    font-size: 60%; }
  #menu-icons i {
    font-size: 30px;
    color: #ffffff;
    margin-top: -15px;
    margin-left: 60px; } }

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: 100%;
  float: left;
  width: 100%;
  border: 0;
  height: 100vh; }

.block {
  opacity: 1;
  visibility: visible;
  transition: 300ms ease-in-out; }

.anime {
  opacity: 0;
  -webkit-animation-name: boxIco;
  animation-name: boxIco;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }
  .anime i {
    -webkit-animation-name: iAnimate;
    animation-name: iAnimate;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }

@-webkit-keyframes boxIco {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes boxIco {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes iAnimate {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes iAnimate {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.about,
.facility,
.pricing {
  padding: 0px;
  margin-bottom: 0px;
  font-size: 150%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  float: left;
  margin-left: 10px; }

.animated-header p {
  position: relative; }
  .animated-header p:after {
    width: 0px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 0px;
    top: 33px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

#footer-third h3 {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto; }
  #footer-third h3:after {
    width: 0px;
    height: 2px;
    position: absolute;
    background-color: #0098ff;
    content: "";
    left: 0px;
    top: 33px;
    -webkit-animation-name: lineAnim;
    animation-name: lineAnim;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

::-webkit-scrollbar {
  width: 6px;
  /* for vertical scrollbars */
  height: 8px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #0098ff; }

.animated-house-img {
  -webkit-animation-name: houseImgAnim;
  animation-name: houseImgAnim;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes houseImgAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes houseImgAnim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.houses-img {
  position: relative;
  opacity: 0; }
  .houses-img p {
    position: absolute;
    top: 0px;
    background-color: rgba(237, 237, 237, 0.5);
    width: 150px;
    text-align: center; }

.houses-img img {
  box-shadow: 10px 10px 49px 0px #8f8f8f;
  border-radius: 8px; }

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid red;
  border-radius: 100%;
  z-index: 2000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#spinner-page {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }

.offer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
