$header-color: #eaeaea;
$header-color-full:rgb(181, 45, 72);
$header-color-mobile: rgb(120, 161, 187);
$font-color:rgb(92, 92, 92);
$dark-grey:rgb(255, 252, 242);
$light-brown:rgb(191, 168, 158);
$yellow:#FAFF70;
* {
    box-sizing: border-box;
    padding: 0;
}

.clearfix {
    clear: both;
    padding: 2%;
}

//.header-text{
//    position: absolute;
//    z-index: 500;
//    font-size:250%;
//    margin-left: auto;
//margin-right: auto;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//   box-shadow:         4px 4px 27px 0px rgba(94, 50, 50, 0.57);
//left: 0;
//right: 0;
//top:30%;
//    color:rgb(40, 48, 68);
//    max-height: 30%;
//    max-width: 80%;
//    background-color: rgba(235, 245, 238,0.9);
//    border-radius: 15px;
//    h1{
//        position: relative;
//        padding: 10px;
//        font-style: italic;
//    }
//    
//}
img {
    //    height: 30%;
    max-width: 100%;
    margin: 0 auto;
}

body {
    color: $font-color;
font-family: 'Bitter', serif;
    line-height: 190%;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0 auto; 
}

h3 {
    font-size: 190%;
    padding-bottom: 5% 0;
}

h4 {
    font-size: 170%;
    padding: 5% 0;
}

header {
    background-color: $header-color;
    height: 84px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    box-shadow: 2px 1px 30px 0px rgba(255, 74, 50, 0.26);
}



#logo h3 {
    text-decoration: none;
    color: #5c5c5c;
    float: left;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 120%;
    text-align: justify;
    line-height: 16px;
    margin-top: 24px;
    padding: 3px;
    
    
    
}



.design{
    color:crimson;
}


#header-main {
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    float: right;
    padding: 20px 20px 0 0;
}

#menu-icons {
    display: none;
    margin-top: 10px
}

#menu-icons i {
    font-size: 30px;
    color: #ffffff;
    margin-top: -15px;
    margin-left: 60px
}

ul {
    list-style: none;
    line-height: 0%;
}

nav ul li {
    font-family: sans-serif;
    display: inline-block;
    padding: 10px;
    float: left;
    font-size: 110%;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #5c5c5c;
    font-size: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer
}

@for $i from 1 through 5 {
    nav ul li:nth-child(#{$i}) {
        &:hover {
            font-weight: bold;
            &:after {
                width: 30px;
                height: 2px;
                position: absolute;
                background-color: #0098ff;
                content: "";
                left: 8px;
                top: 20px;
                animation-name: lineAnim;
                animation-duration: 0.6s;
                animation-delay: 0s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                //            animation-iteration-count: infinite;
            }
        }
    }
    @keyframes lineAnim {
        0% {
            width: 0px;
            opacity: 0;
        }
        100% {
            width: 100%;
            opacity: 1;
        }
    }
}

h5 {
    font-size: 150%;
}

p {
    font-family: 'Droid Sans', sans-serif;
    text-align: justify;
    font-size: 125%;
    letter-spacing: inherit;
    padding: 2%;
}

article {
    padding: 4%;
    float: left;
    width: 50%;
    opacity: 0;
}

@keyframes circleMove {
    0% {
        transform: translate3d(-500px, 0px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0px, 0px);
        opacity: 1;
    }
}

.article-animate {
    animation-name: circleMove;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

aside {
    opacity: 0;
    float: right;
    width: 35%;
    padding: 4%;
    text-align: center;
    margin-right: 100px;
    
    }


.aside-animate {
    animation-name: asideMove;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes asideMove {
    0% {
        transform: translate3d(500px, 0px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0px, 0px);
        opacity: 1;
    }
}

.image-circle {
    border-radius: 6px;
}

#in-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .one-of-third {
        opacity: 0;
    }
}

.one-of-third {
    width: 29%;
    float: left;
    margin: 2%;
}

.one-of-third i {
    color: #e6e6e6;
    font-size: 80px;
    ;
}

.one-of-third img{
    height: 400px;
    width: 100%;
}

h5 a:hover {
    text-decoration: none;
    color: #405580;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-third-img {
    padding-bottom: 2%;
}

footer {
    background-color: $header-color;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}

#footer {
    max-width: 1400px;
    margin: 0 auto;
}

footer h3 {
    color: #5c5c5c;
}

footer p {
    color: #5c5c5c;
    text-align: center;
}

footer .one-of-third {
    width: 33%;
    margin: 2% 0;
}

footer a {
    color: #5c5c5c;
    ;
}

.social-media li {
    display: inline;
}

.facebook {
    transition: color .5s linear;
    &:hover {
        color: #3B5998;
    }
}

.twitter {
    transition: color .5s linear;
    &:hover {
        color: #00aced;
    }
}

.google{
    transition: color .5s linear;
    &:hover {
        color:  #d34836;
    }
}

.youtube{
    transition: color .5s linear;
    display: block;
    &:hover {
        color:  #e52d27;
        
    }
}

.social-media i {
    font-size: 355%;
    padding: 2% 6%;
    padding-bottom: 60px;
    color:#ffffff;
}

.current {
    text-decoration: underline;
}

.slider {
//    margin-top: 84px;
    position: relative;
}


.bx-controls {
    display: none;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: red;
}

#footer-third {
    max-height: 3000px;
    min-height: 300px;
    border-right: 1px solid #959595;
}

@media screen and (max-width:840px) {
    h1 {
        font-size: 100%;
    }
}

@media screen and (max-width:768px) {
    
  
   
    h1 {
        font-size: 70%;
    }
    header {
        position: absolute;
        background-color: $header-color;
    }
    #menu-icons {
        display: inline-block;
    }
    nav ul,
    nav:active ul {
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        position: absolute;
        background-color: $header-color;
        width: 100%;
        padding: 20px;
        right: 0;
        top: 60px;
        border-radius: 4px 0 4px 4px;
    }
    nav li {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .one-of-third {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    
    .one-of-third img{
    height: auto;
    width: 100%;
}
    .circle {
        width: 100px;
        height: 100px;
    }
    .one-of-third i {
        font-size: 360%;
    }
    article {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    aside {
        width: 100%;
        margin-right: 0;
        
    }
    h4 {
        font-size: 140%;
    }
    footer .one-of-third {
        width: 100%;
        margin: 0;
    }
}



@media screen and (max-width: 478px) {
    h3 {
        font-size: 150%;
    }
    p {
        font-size: 100%;
        margin: 2%;
    }
    h1 {
        font-size: 60%;
    }
    #menu-icons i {
        font-size: 30px;
        color: #ffffff;
        margin-top: -15px;
        margin-left: 60px
    }
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: 100%;
    float: left;
    width: 100%;
    border: 0;
    height: 100vh;
}

//.animate{
//    opacity:1;
//    transition: 3000ms ease;
//}
.block {
    opacity: 1;
    visibility: visible;
    transition: 300ms ease-in-out;
}

.anime {
    opacity: 0;
    animation-name: boxIco;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    i {
        animation-name: iAnimate;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
}



@keyframes boxIco {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes iAnimate {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}



.about,.facility,.pricing {
    padding: 0px;
    margin-bottom: 0px;
    font-size:150%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    width: auto;
    float: left;
    margin-left: 10px;
    p{
        position: relative;
        &:after{
                width: 0px;
                height: 2px;
                position: absolute;
                background-color: #0098ff;
                content: "";
                left: 0px;
                top:33px;
                animation-name: lineAnim;
                animation-duration: 0.6s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
        }
    }
    }

#footer-third h3{
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
        &:after{
                width: 0px;
                height: 2px;
                position: absolute;
                background-color: #0098ff;
                content: "";
                left: 0px;
                top:33px;
                animation-name: lineAnim;
                animation-duration: 0.6s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
        }
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: transparent;
   
    
}


::-webkit-scrollbar-thumb
{
  background: #0098ff;
}